h1 {
  margin: auto;
  color: black;
  background-color: crimson;
}
p {
  margin: auto;
  color: gray;
}
.copyright {
  color: gray;
}
.box {
  background-color: grey;
  width: 200px;
  height: 200px;
}
